[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
elasticsearch = "*"

[dev-packages]
mypy = "*"
black = "*"

[requires]
python_version = "3.6"
